<apex:page controller="BlackboardQUSequencingController" >
  <apex:form >
	<apex:sectionHeader title="Qualification Unit Sequencing" />
	<apex:pageBlock >
		 <apex:pageMessage summary="Sequence Number Can Be Any Number From 0-99" severity="INFO" strength="2" />
		<apex:PageMessages />
		<apex:pageBlockButtons >
			<apex:commandButton value="Save" action="{!Save}" />
			<apex:commandButton value="Cancel" action="{!Cancel}" />
			 
		</apex:pageBlockButtons>
		<apex:pageBlockSection title="Qualification Units">

		</apex:pageBlockSection>

		<apex:PageBlockTable value="{!q_units}" var="item">
			
			<apex:column headerValue="Qualification Unit Code">
                    				<apex:outputLink value="/{!item.id}" target="_blank">{!item.Name} </apex:outputLink>
             </apex:column>				
								
			<apex:column headerValue="Code" value="{!item.Unit_Code__c}"/>
			<apex:column headerValue="Name" value="{!item.Unit_Name__c}"/>
			<apex:column headerValue="Sequence Number">
				
				<apex:inputField value="{!item.Sequence_Number__c}" />
			</apex:column>		
								
								
							
	  </apex:PageBlockTable>
	</apex:pageBlock>
  </apex:form>
</apex:page>