<apex:page showHeader="true" sidebar="true" controller="BlackboardCreateMasterCourseController">

	<script type="text/javascript">
              window.onkeypress = handleKeyPress;
              function handleKeyPress(e){
                var eventInstance = window.event ? event : e;
                var keyCode = eventInstance.charCode ? eventInstance.charCode : eventInstance.keyCode;    
                if (keyCode == 13){
                    actionSearchScript();
                    return false;
                }
              }
        </script>

  <apex:form >
	<apex:sectionHeader title="" subtitle="Create Master Course" />
		<apex:pageBlock title="" id="pageblock">
			 <apex:pageMessage summary="Please Enter Exact Unit Code For Searching" severity="INFO" strength="2" />
			<apex:pageMessages />
			<apex:pageBlockButtons location="top">
				 <apex:commandButton value="Cancel" Action="{!cancel}" />
			</apex:pageBlockButtons>
			<apex:pageBlockSection title="Search Master Course" columns="1">
				<apex:pageBlockSectionItem >

					<apex:outputLabel value="Please Enter Unit Code" for="searchText" />

					<apex:outputPanel >
						<div class="requiredInput">
	                    <div class="requiredBlock"></div>
	                    <apex:inputText id="searchText" value="{!searchString}" onkeypress="return handleKeyPress(event)" />
	                    <apex:actionFunction action="{!search}" name="actionSearchScript" rerender="pageblock" status="status"/>
	                </div>
				   </apex:outputPanel>
	                
	            
				
					

	          		

				</apex:pageBlockSectionItem>

				<apex:commandButton value="Search" status="status" reRender="resultsblockMainPanel,NoresultsblockMainPanel" action="{!search}"/>
          		<apex:actionStatus id="status" startText="Searching..."/>
			
		    </apex:pageBlockSection>

		    <apex:outputPanel id="resultsblockMainPanel">
   				 <apex:outputPanel id="datePanel" rendered="{!resultsblock}"> 
        					
      				<apex:pageBlockTable value="{!UnitsFromDB}" var="item" >

						 <apex:column headerValue="Unit Code">

	                    	<apex:outputLink value="/{!item.id}" target="_blank">{!item.Name} </apex:outputLink>
	               		 </apex:column>

	               		 <apex:column value="{!item.Unit_Name__c}" title="Unit Name" />
	                 
	                

					</apex:pageBlockTable>

					<apex:commandButton value="Confirm" Action="{!confirm}" />
    			</apex:outputPanel>
  			</apex:outputPanel>
  			<apex:outputPanel id="NoresultsblockMainPanel">
		        <apex:outputPanel id="noresults" rendered="{!noresultsblock}">
		        	<i>no results </i>
		        </apex:outputPanel>
	        </apex:outputPanel>
	</apex:pageBlock>

  </apex:form>
</apex:page>