<!-- ********************************************************************************************************** -->
<!-- Company: Cloud Sherpas                                        												-->
<!-- Date: 07.NOV.2012                                              											-->
<!-- Author: Janella Lauren Canlas                                  											-->
<!-- Description: Generate Class Roll Page                                 										-->
<!-- 								                                											-->
<!-- HISTORY:						                                											-->
<!-- 07.NOV.2012	Janella Canlas		Created.																-->
<!-- ********************************************************************************************************** -->
<apex:page controller="GenerateClassRoll_CC" title="Generate Class Roll">
	<apex:pageBlock title="GENERATE CLASS ROLLS">
    	<apex:pageMessages />
        <apex:outputPanel id="classTable" layout="block" style="width:100%;">
            <apex:form >
	            <table width="100%">
	            	<tr>
	            		<td style="font-weight: bold; font-size: 14px;" width="40%">
	            			GENERATE CLASS ROLL
	            		</td>
	            		<td style="border: 1px solid black;" width="30%">
	            			<table width="100%">
	            				<tr>
	            					<td align="right">
	            						<apex:outputText value="Intake Code: " style="font-weight:bold;"/>
	            						<apex:outputText value="{!IntakeRecord.Name}" /><br/>
	            						<apex:outputText value="Start Date: " style="font-weight:bold;"/>
	            						<apex:outputText value="{0, date, dd/MM/yyyy hh:mm a}">
								           <apex:param value="{!IntakeRecord.Start_Date__c}"/>
										</apex:outputText><br/>
										<apex:outputText value="End Date: " style="font-weight:bold;"/>
										<apex:outputText value="{0, date, dd/MM/yyyy hh:mm a}">
								           <apex:param value="{!IntakeRecord.End_Date__c}"/>
										</apex:outputText>
	            					</td>
	            				</tr>
	            			</table>
	            		</td>
	            		<td style="border: 1px solid black;" width="30%">
	            			<table width="100%">
	            				<tr>
	            					<td align="right">
	            						<apex:outputText value="Qualification Code: " style="font-weight:bold;"/>
	            						<apex:outputText value="{!IntakeRecord.Qualification__r.Name}" /><br/>
	            						<apex:outputText value="Qualification Name: " style="font-weight:bold;"/>
	            						<apex:outputText value="{!IntakeRecord.Qualification_Name__c}" /><br/>
										<apex:outputText value="Program: " style="font-weight:bold;"/>
										<apex:outputText value="{!IntakeRecord.Program__r.Name}" /><br/>
	            					</td>
	            				</tr>
	            			</table>
	            		</td>
	            	</tr>
	            </table>
	            <table width="100%" style="border: 1px solid black;">
	            	<tr>
	            		<td width="33.33%"><b>From Date: </b>
	            			<apex:inputText value="{!dateFrom}" onfocus="DatePicker.pickDate(false, this, false);" id="date1"/> 
	            		</td>
	            		<td width="33.33%"><b>To Date: </b>
	            			<apex:inputText value="{!dateTo}" onfocus="DatePicker.pickDate(false, this, false);" id="date2"/>
	            		</td>
	            		<td valign="baseline" width="33.33%">
		            		<apex:outputText value="Roll Signatory: " style="font-weight:bold;"/>
		            		<apex:selectList size="1" value="{!trainer}"> 
				            	<apex:selectOptions value="{!StaffPicklist}"/>
				            </apex:selectList><br/>
	            		</td>
	            	</tr>
	            </table>
	            <table width="100%">
	                <tr>
	                    <td align="center">
	                        <br/>
	                        <apex:commandButton value="Generate" id="save" action="{!generate}"/>
	                        <apex:commandButton value="Cancel" id="cancel" action="{!cancel}"/>
	                    </td>
	                </tr>
            	</table>
            </apex:form>
    	</apex:outputPanel>
	</apex:pageBlock>
</apex:page>