<apex:page controller="NATController" >
<apex:form >
		<apex:sectionHeader title="NAT Generation and Claiming Utility"/>
		<apex:pageBlock >
		 <apex:pageMessage summary="NAT Generation And Claiming Utility complies with AVETMISS 7.0 requirements." severity="INFO" strength="2" />
            
		 <apex:pageMessages />
		 	<b>Generation Year:</b>&nbsp;
		 		<apex:selectList value="{!year}" size="1" title="Year">
								<apex:selectOptions value="{!years}"/>
				</apex:selectList>
							
		</apex:PageBlock>
					
		<apex:pageBlock >
			<b>RTO:</b>&nbsp;
			<apex:actionRegion >
				<apex:selectList value="{!rto}" size="1" title="State">
					 <apex:actionSupport event="onchange" action="{!FilterStates}" rerender="statesblock,buttonblock"  status="status"/>
				<apex:selectOptions value="{!rtos}" />
					
				</apex:selectList>
			</apex:actionRegion>
		</apex:pageBlock>
		
		<apex:pageBlock id="statesblock">
			<b>State:</b>&nbsp;
			<apex:selectList value="{!state}" size="1" title="State">
				 <apex:actionSupport event="onchange" rerender="buttonblock"/>
				<apex:selectOptions value="{!states}"/>
			</apex:selectList>
			
		</apex:pageBlock>
		
		<apex:pageBlock id="stateNatFileBlock">
			<b>Delete Existing NAT Files For Selected State </b><font size="1">(WARNING: All Previously Exported Files For Selected State Will Be Removed)</font>&nbsp;
			 <apex:inputCheckbox value="{!deleteExistingFiles}"/>			
		</apex:pageBlock>
		
		<apex:pageblock id="buttonblock" >
			<apex:outputlabel for="sClaim" value="Do Not Claim(Will Generate Nat Files Without Creating a Claim)" rendered="{!IF((State = 'New South Wales'),true,false)}"/>
			<apex:inputCheckbox value="{!nswClaim}"  rendered="{!IF((State = 'New South Wales'),true,false)}" id="sClaim"/> <br/><br/>
			<apex:commandButton value="Continue" action="{!continueButton}" rendered="{!IF((State = 'Queensland' || State = 'Victoria' || State = 'South Australia' || State = 'Western Australia') ,true,false)}"/>
			<apex:commandButton value="Continue" action="{!SetClaimButton}" rendered="{!IF((State = 'New South Wales'),true,false)}"/>
			
			<apex:commandButton value="Cancel" action="{!cancelButtonHome}"/>
		
		</apex:pageblock>
	</apex:form>
</apex:page>