<apex:page controller="ClaimController"  > 

 <apex:form >


	<b>NAT File Generation And Claiming for New South Wales</b>
        <apex:PageBlock >
            
        
            <apex:PageBlockButtons location="bottom" >
            	<apex:CommandButton value="Filter" action="{!filterPurchasingContract}"  rerender="results" />
               
            </apex:PageBlockButtons>
             <apex:PageBlockSection columns="1" title="Filter Options">
             
                <apex:PageBlockSectionItem >
			             <apex:outputpanel id="fundings">
			                    <b>Funding Source/s:</b>&nbsp;
			                    <apex:actionRegion >
			                		<apex:InputText value="{!fundingSourceSearch}" id="fs" style="width:150px" /> 
			                		<font size="1">&nbsp;*To search multiple founding sources, separate by AND, eg. F2 AND F3</font>
			                    </apex:actionRegion>
			                 
			             </apex:outputpanel>
                </apex:PageBlockSectionItem>
             
                <apex:PageBlockSectionItem >
		             <apex:outputpanel id="code">
		                    
		                    <b>Contract Code:</b>&nbsp;
		                         <apex:actionRegion >
			                		<apex:InputText value="{!ContractCodeSearch}" id="fs2" style="width:167px" />  
			                        <font size="1">&nbsp;*Type contract code, e.g: CPC</font>
		                		 </apex:actionRegion>
		            </apex:outputpanel>
                </apex:PageBlockSectionItem>
             
             </apex:PageBlockSection>
              
           
        
        </apex:PageBlock>
        
         <apex:PageBlock title="Purchasing Contracts" id="results">
        	<apex:PageBlockButtons location="top" >
            	<apex:CommandButton value="Next" action="{!NextToClaiming}"/>
                <apex:CommandButton value="Back" action="{!cancelButton}" />
                
               
            </apex:PageBlockButtons>
        
            <apex:PageBlockTable value="{!FilteredContracts}" var="item">
                <apex:column >
                        <apex:facet name="header"> <apex:inputCheckbox >
                            <apex:actionSupport event="onclick" onsubmit="checkAll(this)" rerender="Selected_PBS"/>
                            </apex:inputCheckbox>
                        </apex:facet>
                    <apex:inputCheckbox value="{!item.selected}" id="checkedone" />
                </apex:column>
                <apex:column headerValue="Contract Id">
                    <apex:outputLink value="/{!item.pc.Id}" target="_blank">{!item.pc.Name} </apex:outputLink>
                </apex:column>
                <apex:column headerValue="Contract Name" value="{!item.pc.Contract_Name__c}" />                
                <apex:column headerValue="Contract Code" value="{!item.pc.Contract_Code__c}" />
                <apex:column headerValue="Funding Source" value="{!item.pc.State_Fund_Source__r.Code__c}" />
                <apex:column headerValue="Commencement Date" value="{!item.pc.Commencement_Date__c}" />
                <apex:column headerValue="Completion Date" value="{!item.pc.Completion_Date__c}" />
                <apex:column headerValue="Contract Type" value="{!item.pc.Contract_Type__c}" />
                <apex:column headerValue="Active" value="{!item.pc.Active__c}" />
                
            
            </apex:PageBlockTable>
        
        </apex:PageBlock>
        
 </apex:form>
 
  <script>
        function checkAll(cb)
        {
        var inputElem = document.getElementsByTagName("input");
            for(var i=0; i<inputElem.length; i++)
            {
            if(inputElem[i].id.indexOf("checkedone")!=-1)
            inputElem[i].checked = cb.checked;
            }
        }    
	</script>
 
 
</apex:page>