<apex:page standardController="Staff_ID_Card__c" extensions="StaffIDPhoto_CC">
<apex:form enctype="multipart/form-data">
    <apex:pageBlock >
    <apex:pageMessages />
    <apex:actionfunction action="{!upload}" name="uploadPhoto" onComplete="window.top.location='/{!idCardRecord.Id}';"/>
    <apex:actionfunction action="{!deleteImage}" name="deletePhoto" onComplete="window.top.location='/{!idCardRecord.Id}';"/>    
 		<apex:pageBlockSection showHeader="false" columns="2" id="block1">
	        <table>
				<tr>
					<td>
						<b>Staff Photo</b>
					</td>
					<apex:outputPanel id="inputPanel" rendered="{!idCardRecord.Photo_ID__c == null}" >
						<td >
							<apex:pageBlockSection >
								<apex:inputFile value="{!attachment.body}" filename="{!attachment.name}"/>
								<apex:commandButton value="Save" action="{!upload}"/><br />
								Note:
								<br />
								Images will be resized to 100 x 100 pix
								<br/>
							</apex:pageBlockSection>
						</td>
					</apex:outputPanel>
					<apex:outputPanel id="imagePanel" rendered="{!idCardRecord.Photo_ID__c != null}" >
						<td>
							<img id="theImage" src="/servlet/servlet.FileDownload?file={!idCardRecord.Photo_ID__c}" width="100" height="100" />
							<apex:commandLink value="delete" onClick="deletePhoto();"/>
						</td>
					</apex:outputPanel>
				</tr>
			</table>
      	</apex:pageBlockSection>
    </apex:pageBlock>
  </apex:form>
</apex:page>