<apex:page controller="USI_CaptureController" showHeader="false" standardStylesheets="false" sidebar="false">
    <apex:stylesheet value="{!URLFOR($Resource.USIPortal, 'css/flat-ui-pro.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.USIPortal, 'css/USI_stylesheet.css')}" />

    <apex:outputPanel layout="block" styleClass="full-width-container usi-page">
        <apex:form >
            <div class="masthead">
                <div class="ca-logo">
                    <img width="200" height="66" title="Careers Australia" alt="Careers Australia" src="{!URLFOR($Resource.USIPortal, 'images/careers-australia-logo-large-red.jpg')}" />
                </div>
                <div class="title-hero">
                    <div class="enrolment-form-container">
                    </div>
                </div>
                <div class="user-bar">
                    <div class="enrolment-form-container">
                        <div class="page-title">
                            <div class="page-name">
                                <span class="greeting">Unique Student Identifier Portal</span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="enrolment-form-container mtm">
                <apex:pageMessages />
                
                <div class="page-title">
                    <div class="page-order">A</div>
                    <div class="page-name">USI Validation</div>
                </div>

                <div class="page-questions-container">
                    <div class="instructions">
                        You are now going to create your USI. Before you commence, please ensure you have a form of ID such as a Driver's Licence. Please complete the following details matching your form of ID and select Next.
                    </div>

                    <div class="page-questions">
                        <div class="page-section">
                            <div class="section-name">Personal Details</div>
                            <div class="section-items">
                                <div class="form-item">
                                    <apex:outputLabel value="First Name" styleClass="item-label required-label"></apex:outputLabel>
                                    <div class="item-display">
                                        <apex:outputField value="{!student.FirstName}" />
                                    </div>
                                </div>
                                <div class="form-item">
                                    <apex:outputLabel value="Last Name" styleClass="item-label required-label"></apex:outputLabel>
                                    <div class="item-display">
                                        <apex:outputField value="{!student.LastName}" />
                                    </div>
                                </div>
                                <div class="form-item">
                                    <apex:outputLabel value="Date of Birth" styleClass="item-label required-label"></apex:outputLabel>
                                    <div class="item-display">
                                        <apex:outputField value="{!student.PersonBirthdate}"/>
                                    </div>
                                </div>
                                <div class="form-item">
                                    <apex:outputLabel value="USI Identifier" styleClass="item-label required-label"></apex:outputLabel>
                                    <div class="item-display">
                                        <apex:outputField value="{!student.Unique_student_identifier__c}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <apex:commandButton id="gotoConfirmReValidation" value="Confirm" action="{!gotoSaveReValidation}"/>
                </div>
            </div>
        </apex:form>
    </apex:outputPanel>
</apex:page>