<!--
/**
 * @description VFH Enrolment Form 1. Contains form entry for Personal Details, Residential Address, Contact Details and Emergency Details
 * @author D. Crisologo (CloudSherpas)
 * @date 20.JUN.2013
 * @date 20.NOV.2013 Added New Address Fields to comply with AV7 by YG
 */
-->
<apex:page controller="VFHEnrolmentForm_CC" standardStylesheets="false" id="vfhEnrolfrm1" showHeader="false" sidebar="false" action="{!initializeURLParams}" cache="false" expires="0" docType="html-5.0" >
<c:headertemplate />
           <!--bvk: this on the header! <script src="{!$Resource.JqueryMinRel2}" type="text/javascript"></script>-->
           <!--<script src="{!$Resource.JqueryFSSelector}" type="text/javascript"></script>-->
           <script>
        
            window.onload = function(){  
                //bvk: no such component: sameAsResidential(document.getElementById('{!$Component.frm1.sameAsResidentialFrm1}'));
                //updateCal();
              };
        
            function sameAsResidential(cb){
                if(cb.checked==true){
                    document.getElementById('{!$Component.frm1.postalStreetAddrFrm1}').disabled = true;
                    document.getElementById('{!$Component.frm1.postalStateFrm1}').disabled = true;
                    document.getElementById('{!$Component.frm1.postalPpostCodeFrm1}').disabled = true;
                    document.getElementById('{!$Component.frm1.postalTownFrm1}').disabled = true;
                } else {
                    document.getElementById('{!$Component.frm1.postalStreetAddrFrm1}').disabled = false;
                    document.getElementById('{!$Component.frm1.postalStateFrm1}').disabled = false;
                    document.getElementById('{!$Component.frm1.postalPpostCodeFrm1}').disabled = false;
                    document.getElementById('{!$Component.frm1.postalTownFrm1}').disabled = false;
                }
            }
            
            function isNumberKey(evt) {
                var charCode = (evt.which) ? evt.which : event.keyCode;
                if (charCode != 46 && charCode > 31 
                  && (charCode < 48 || charCode > 57))
                    return false;
                return true;
            }
            
            function isNumberKeyWithCharLimit(evt, field, maxlimit) {
                var charCode = (evt.which) ? evt.which : event.keyCode;
                if(field.value.length >= maxlimit && charCode != 08) return false;
                if(field.value.length >= maxlimit && charCode != 46 && charCode > 32) return false;
                if (charCode != 46 && charCode > 32 && (charCode < 48 || charCode > 57))
                    return false;
                return true;
            }
            
            //function textCounter(field,cntfield,maxlimit) {
            //    if (field.value.length > 10) 
            //    field.value = field.value.substring(0, maxlimit);
            //    else
            //    cntfield.value = maxlimit - field.value.length;
            //}
           
           /** 
            function updateCal(){
                var select = document.getElementById('calYearPicker');
                if (!select) return;
                select.innerHTML = '';
                var startYear = new Date().getFullYear() - 80;
                for (var year = startYear; year < startYear + 100; year++) {
                select.options[select.options.length] = new Option(year, year);
            }*/
            
        </script>
    
        
        <style type="text/css">
            .tableHeader {
                font-weight: bold;
                font-size: 1.167em;
                padding:5px;
            }
            .postalPhysical{
                display: none;
            }
            td.error label:before {
                border: 1px solid #d8576c;
            }
            td.error input[type="text"] {
                border-bottom: 2px solid #d8576c;
            }
            td.error span.selecter-selected {
                border-bottom: 2px solid #d8576c;
            }

            input[type="radio"],
            input[type="checkbox"] {
                /* bvk: breaks checkboxes:*/ 
                display: block;
                position: absolute;
                left: 0;
                opacity: 0;
                width: 1px;
            }
            
            input[type="radio"]:focus + label:before,
            input[type="checkbox"]:focus + label:before {
                border: 2px solid #0077c8;
            }
            
            input[type="radio"]:checked + label:before,
            input[type="checkbox"]:checked + label:before {
                border: 0px solid #0077c8;
            }

            input[type="checkbox"].clicked:focus + label:before {
                border: 0;
            }


            
            /*.inputdropdown.selecter-element {
                z-index: -100 !important;
            }*/
            
        </style>

    <body>
    
    <div class="main-container">
        <div style="visibility:hidden" id="errorArea">

        </div>
        <div id="pageError" class="message errorM3" role="alert" style="display: none;">
            <table border="0" cellpadding="0" cellspacing="0" class="messageTable" style="padding:0px;margin:0px;">
                <tbody>
                 <tr valign="top">
                    <!-- <td>
                        <img alt="ERROR" class="msgIcon" src="/s.gif" title="ERROR" />
                    </td> -->
                    <td class="messageCell">
                        <div class="messageText">
                            <span style="color:#cc0000"><h4>Error</h4></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <!--<td></td>-->
                  <td id="pageErrorMessage">Please check error/s below</td>
                </tr>
                </tbody>
            </table>
        </div>
        <apex:outputPanel id="formPanel" rendered="{!pageAllowed}">
        <div style="margin-right:15px;margin-top:0px;margin-bottom:15px;" class="formlabel">
        <apex:form id="frm1">

            <apex:outputText value="Thank you for choosing to apply to Careers Australia."/><br/>
            <apex:outputText value="Our online application service is easy and secure to use. You can:"/><br/>
            <ul>
                <li><apex:outputText value="apply online for any program"/></li>
                <li><apex:outputText value="save and change your application easily and as often as you like before submitting it"/></li>
                <li><apex:outputText value="save and transfer generic information about yourself, which saves you time if you apply for more than one program."/></li>
                <li><apex:outputText value="upload all of your supporting documentation"/></li>
                <li><apex:outputText value="confirm we have received your application"/></li>
                <li><apex:outputText value="print your application"/></li>
            </ul>
            <apex:outputText value="To submit an Online Enrolment for VET Fee-help funded courses please ensure you have the following information
                                    available to ensure your application is processed quickly:"/>
            <ul>
                <li><apex:outputText value="A valid email address"/></li>
                <li><apex:outputText value="Tax File Number"/></li>
                <li><apex:outputText value="Be eligible for Vet Fee Help"/> <a href="http://www.careersaustralia.edu.au/funding-and-subsidies/vet-fee-help/">(link here)</a></li>
            </ul>
            
            <apex:outputText value="For Online courses, you should expect to start your course on the next Monday or Wednesday. Please allow for one business day to process."/><br/><br/>
            
            <apex:outputText value="For courses at a campus location, you should expect a start date within the next three weeks.
                     You will be notified of the specific start date and time of your course within the next week."/><br/><br/>
                     
            <apex:outputText value="Careers Australia understands and appreciates that you are concerned about your privacy and about the confidentiality and
                                    security of information we may gain about you through this online application. We respect your right to privacy and are 
                                    committed to protecting your personal information by adhering through Australian privacy laws and industry codes of practice."/><br/><br/>
            
           
            <apex:inputCheckbox value="{!vfhFormRecord.Opt_Out_Further_Information__c}" id="informationIsFurtherFrm1"/>
            <apex:outputLabel value="Click here if you wish to opt out of receiving any future offers or promotions from Careers Australia that is not relevant to this inquiry." for="informationIsFurtherFrm1"/><br/><br/>
            
            <apex:outputText value="VET-FEE HELP courses are only available for Australian Citizen or Permanent Humanitarian Visa."/><br/><br/>
            
            <apex:inputCheckbox value="{!vfhFormRecord.Citizenship_VFH_Approved_Visa__c}" id="informationIsFactualFrm1" />
            <apex:outputLabel value="I declare I am an Australian Citizen / Permanent Humanitarian Visa holder." for="informationIsFactualFrm1" /> <br/><br/>
        
            <br/><br/>

            <!--  PERSONAL DETAILS -->
    
            <table style="width:100%;">
                <tr>
                    <td colspan="2" class="tableHeader">
                        <apex:outputText value="Personal Details"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <apex:outputText styleClass="form-label" value="Title *" /><br/>

                        <!--<apex:inputField label="" value="{!vfhFormRecord.Salutation__c}" id="titleFrm1"/> -->
                        <apex:selectList styleClass="inputdropdown" size="1" value="{!vfhFormRecord.Salutation__c}" id="titleFrm1"> <div id="titleError" class="redmsg" style="display:none;"><strong>ERROR:</strong>This field is required</div>
                            <apex:selectOptions id="inputdropdown" value="{!SalutationEntries}"/>
                        </apex:selectList>
                    </td>
                </tr>
                <tr>
                    <td>
                        <apex:outputText styleClass="form-label" value="First Name *" /><div id="Pname" class="redmsg" style="display:none;"><strong>ERROR:</strong>This field is required</div>

                        <apex:inputField label="" value="{!vfhFormRecord.First_Name__c}" id="firstNameFrm1"/> 
                    </td>
 
                </tr>
                <tr>
                    <td>
                        <apex:outputText styleClass="form-label" value="Middle Name" />

                        <apex:inputField label="" value="{!vfhFormRecord.Middle_Name__c}" id="middleNameFrm1"/> 
                    </td>
 
                </tr>
                <tr>
                    <td >
                        <apex:outputText styleClass="form-label" value="Surname *" /><div id="Sname" class="redmsg" style="display:none;"><strong>ERROR:</strong>This field is required</div>

                        <apex:inputField label="" value="{!vfhFormRecord.Last_Name__c}" id="surNameFrm1"/> 
                    </td>
                
                </tr>
                <tr> 
                    <td>
                        <apex:outputText styleClass="form-label" value="Date of Birth(dd/mm/yyyy) *" /><div id="Born" class="redmsg" style="display:none;"><strong>ERROR:</strong>This field is required</div><div id="BornValidity" class="redmsg" style="display:none;"><strong>ERROR:</strong> Invalid Date</div><div id="AgeValidity" class="redmsg" style="display:none;"><strong>ERROR:</strong> Only students with age 14 and above are allowed to enroll</div>

                    <div style="width:100%;height63px">
                    <div style="width:75px;height:auto;float:left">

                            <apex:inputText label=""  value="{!birthDay}" id="dayOfBirthFrm1" onKeyPress="return numbersOnly(event, this.id,null)" maxLength="2" onBlur="validateNumber('vfhEnrolfrm1:frm1:dayOfBirthFrm1', 'day')"/>

                    </div>
                    <div style="padding:15px 2px 0px 2px;height:auto;float:left">
                    <apex:outputText style="font-size:1.250em;color:#999;" value="/" />
                    </div>
                    <div style="width:75px;height:auto;float:left">
                    <apex:inputText label="" value="{!birthMonth}" id="monthOfBirthFrm1" onKeyPress="return numbersOnly(event, this.id,null)" maxLength="2" onBlur="validateNumber('vfhEnrolfrm1:frm1:monthOfBirthFrm1', 'month')"/> 

                    </div>
                    <div style="padding:15px 2px 0px 2px;height:auto;float:left">
                    <apex:outputText style="font-size:1.250em;color:#999;" value="/" />
                    </div>
                    <div class="column-yearofdate" style="width:120px;">
                    <apex:inputText label="" value="{!birthYear}" id="yearOfBirthFrm1" onKeyPress="return numbersOnly(event,null, this.id)" maxLength="4" onBlur="validateNumber('vfhEnrolfrm1:frm1:yearOfBirthFrm1', 'year')"/> 

                    </div></div>
                    </td>
                </tr>
                <tr>
                   <td>
                        <apex:outputText styleClass="form-label" value="Gender *" /><div id="Sexes" class="redmsg" style="display:none;"><strong>ERROR:</strong>This field is required</div>
                        <apex:selectRadio tabindex="" styleClass="radio" value="{!vfhFormRecord.Sex__c}" label="" id="genderFrm1"> 
                            <apex:selectOptions value="{!Gender}"/>
                        </apex:selectRadio>
                    </td>
                </tr>
                <tr>
                    <td>
                        <apex:outputText styleClass="form-label" value="Former Surname (if Applicable)" />
                        <apex:inputField label="" value="{!vfhFormRecord.Previous_Surname__c}" id="preSurnameFrm1"/> 
                    </td>
                </tr>
                <tr>
                    <td>
                        <apex:outputText styleClass="form-label" value="Home Phone (e.g. 0736202700)" />&nbsp;<div id="HomePhone" class="redmsg" style="display:none;" />&nbsp;<apex:outputText value="At least one phone number is mandatory" style="font-size:12px; color:#d8576c;"/>
                        <apex:inputField value="{!vfhFormRecord.Home_Phone_Number__c}" id="postalPhoneFrm1" onkeypress="return isNumberKeyWithCharLimit(event,this,10)" onBlur="validateNumber('vfhEnrolfrm1:frm1:postalPhoneFrm1')"/> 
                    </td>
        
                <tr>
                    <td>
                        <apex:outputText styleClass="form-label" value="Mobile" />
                        <apex:inputField value="{!vfhFormRecord.Mobile_Phone_Number__c}" id="postalMobileFrm1" onkeypress="return isNumberKeyWithCharLimit(event,this,10)" onBlur="validateNumber('vfhEnrolfrm1:frm1:postalMobileFrm1', null)"/> 
                    </td>
                </tr>
                <tr>
                    <td>
                        <apex:outputText styleClass="form-label" value="Email *" /><div id="eAddress" class="redmsg" style="display:none;"><strong>ERROR:</strong>This field is required</div>
                        <apex:inputField value="{!vfhFormRecord.Email_Address__c}" id="postalEmailFrm1"/> 
                    </td>

                </tr>
                <tr>
                    <td>
                        <apex:outputText styleClass="form-label" value="Fax" />
                        <apex:inputField value="{!vfhFormRecord.Fax_Number__c}" id="postalFaxFrm1" onkeypress="return isNumberKey(event)" onBlur="validateNumber('vfhEnrolfrm1:frm1:postalFaxFrm1', null)"/> 
                    </td>
                </tr>
              </tr>
            </table>
    
            <br/>
        
            <!--  RESIDENTIAL ADDRESS -->
        
            <table style="width:100%;">
                <tr>
                    <td colspan ="1" class="tableHeader">
                        <apex:outputText value="Residential Address"/>
                    </td>
                   
                </tr>
                <tr>
                    <td>
                        <apex:outputText styleClass="form-label" value="Building/Property Name" />
                    <!--</td>
                    
                    <td style="width:17%">-->
                        <apex:inputField value="{!vfhFormRecord.Address_building_property_name__c}" id="buildPropName1"/> 
                    </td>
                 </tr>
                <tr>
                    <td>
                        <apex:outputText styleClass="form-label" value="Flat/Unit Details" />
                    <!--</td>
                    
                    <td style="width:17%">-->
                        <apex:inputField value="{!vfhFormRecord.Address_flat_unit_details__c}" id="FlatUnitName1"/> 
                    </td>
                 </tr>  
                
                <tr>
                    
                    <td>
                        <apex:outputText styleClass="form-label" value="Street Number*" id="StreetLabel1"/><div id="StreetNumber" class="redmsg" style="display:none;"><strong>ERROR:</strong>This field is required</div>
                    <!--</td>
                    
                    <td style="width:17%">-->
                        <apex:inputField value="{!vfhFormRecord.Address_street_number__c}" id="StreetNumber1"/> 
                    </td>
                 </tr>
                
                <tr>
                    
                    <td>
                        <apex:outputText styleClass="form-label" value="Street Name*" /><div id="RoadName" class="redmsg" style="display:none;"><strong>ERROR:</strong>This field is required</div> 
                    <!--</td>
                    
                    <td style="width:17%">-->
                        <apex:inputField value="{!vfhFormRecord.Address_street_name__c}" id="StreetName1"/>
                    </td>
                 </tr>
                
                <tr>
                    <td>
                        <apex:outputText styleClass="form-label" value="Town/Suburb *" /><div id="Uptown" class="redmsg" style="display:none;"><strong>ERROR:</strong>This field is required</div>
                    <!--</td>
                    <td>-->
                        <apex:inputField value="{!vfhFormRecord.Residential_Town_Suburb__c}" id="townFrm1"/>  
                    </td>
                 </tr>
                <tr>
                    
                    <td >
                        <apex:outputText styleClass="form-label" value="State *" /><div id="State" class="redmsg" style="display:none;"><strong>ERROR:</strong>This field is required</div><br/>
                    <!--</td>
                    <td style="width:16%"> -->
                        <!--<apex:inputField value="{!vfhFormRecord.Residential_State__c}" id="stateFrm1"/> -->
                        <apex:selectList size="1" styleClass="inputdropdown" value="{!vfhFormRecord.Residential_State__c}" id="stateFrm1">
                            <apex:selectOptions value="{!ResStateEntries}"/>
                        </apex:selectList>
                    </td>
                
                </tr>
                
                <tr>
                
                    <td>
                        <apex:outputText styleClass="form-label" value="Post Code *" /><div id="ZipNumber" class="redmsg" style="display:none;"><strong>ERROR:</strong>This field is required</div>
                    <!--</td>
                    <td style="width:16%"> -->
                        <apex:inputText value="{!vfhFormRecord.Residential_Postcode__c}" id="postCodeFrm1" onkeypress="return isNumberKey(event)" onBlur="validateNumber('vfhEnrolfrm1:frm1:postCodeFrm1', null)" maxLength="4"/>
                        <script type="text/javascript">
                        function validateNumber(elem, type){
                            var isNum = false;
                            var curYear = new Date().getFullYear();
                            var txtVal= document.getElementById(elem).value;
                            var day_month_pattern = /\d{2}/;
                            if(txtVal != null && txtVal != ''){
                                isNum = /^\d+$/.test(txtVal);
                            }
                            if(type == 'day'){
                                if(isNum == true && Number(txtVal) > 31){
                                    document.getElementById(elem).value = '';
                                }
                                if(!day_month_pattern.test(txtVal) && txtVal.length == 1){
                                    document.getElementById(elem).value = '0'+txtVal;
                                }
                            }else if(type == 'month'){
                                if(isNum == true && Number(txtVal) > 12){
                                    document.getElementById(elem).value = '';
                                }
                                if(!day_month_pattern.test(txtVal) && txtVal.length == 1){
                                    document.getElementById(elem).value = '0'+txtVal;
                                }
                            }else if(type =='year' && isNum == true && Number(txtVal) > curYear){
                                document.getElementById(elem).value = '';
                            }
                            else if(isNum == false && txtVal != null && txtVal != '' && type != null){
                                alert('Invalid value for Date of Birth.');
                                document.getElementById(elem).value = '';
                            }
                            else if(isNum == false && txtVal != null && txtVal != '' && type == null){
                                alert('All non-numeric characters will be removed.');
                                document.getElementById(elem).value = txtVal.replace(/^\D+/, '');
                            }
                        }
                        </script>
                    </td>
                </tr>
                                
            </table>
    
            <br/>
            
           <!--  POSTAL ADDRESS -->
        
            <table style="width:100%;">
                <tr>
                    <td colspan ="1" class="tableHeader" >
                        <apex:outputText value="Postal Address (Only required if different from above address)"/>
                    </td>
                   
                </tr>
                
                
                <tr>
                    <td>
                        <apex:outputText styleClass="form-label" value="Address Type" />
                        
                        <fieldset style="border: none;">
                        <table role="presentation" class="radio">
                        <tbody>
                        <tr>
                        <td>
                            <input name="addressType" class="postalAddressType" type="radio" id="vfhEnrolfrm1:frm1:addressType:0" value="POBox" checked="checked"/>
                            <label for="vfhEnrolfrm1:frm1:addressType:0"> PO Box</label>
                        </td>
                        <td>
                            <input name="addressType" class="postalAddressType" type="radio" id="vfhEnrolfrm1:frm1:addressType:1" value="Physical"/>
                            <label for="vfhEnrolfrm1:frm1:addressType:1"> Physical</label>
                        </td>
                        </tr>
                        </tbody>
                        </table>
                        </fieldset>
                    </td>
                </tr>
                
                
                
                <tr class="postalBoxNumber">
                    <td>
                        <apex:outputText styleClass="form-label" value="PO Box Number" />
                        <apex:inputField value="{!vfhFormRecord.Postal_Street_Address__c}" id="postalStreetAddrFrm1"/> 
                    </td>
                </tr>
                
                
                
                
                <tr class="postalPhysical">
                    <td>
                        <apex:outputText styleClass="form-label" value="Building/Property Name" />
                        <apex:inputField value="{!vfhFormRecord.Postal_building_property_name__c}" id="postalStreetAddrFrm2"/> 
                    </td>
                </tr>
                <tr class="postalPhysical">
                    <td>
                        <apex:outputText styleClass="form-label" value="Flat/Unit Details" />
                        <apex:inputField value="{!vfhFormRecord.Postal_flat_unit_details__c}" id="postalStreetAddrFrm3"/> 
                    </td>
                </tr>
                <tr class="postalPhysical">
                    <td>
                        <apex:outputText styleClass="form-label" value="Street Number" />
                        <apex:inputField value="{!vfhFormRecord.Postal_street_number__c}" id="postalStreetAddrFrm4"/> 
                    </td>
                </tr>
                <tr class="postalPhysical">
                    <td>
                        <apex:outputText styleClass="form-label" value="Street Name" />
                        <apex:inputField value="{!vfhFormRecord.Postal_street_name__c}" id="postalStreetAddrFrm5"/> 
                    </td>
                </tr>
                <tr>
                
                    <td>
                        <apex:outputText styleClass="form-label" value="Town/Suburb" />
                    <!--</td>
                    <td>-->
                        <apex:inputField value="{!vfhFormRecord.Postal_Town_Suburb__c}" id="postalTownFrm1"/> 
                    </td>
                    
                </tr>
                <tr>
                    <td>
                        <apex:outputText styleClass="form-label" value="State" /><br/>
                   <!-- </td>
                    <td style="width:16%">-->
                        <!--<apex:inputField value="{!vfhFormRecord.Postal_State__c}" id="postalStateFrm1"/>  -->
                        <apex:selectList size="1" styleClass="inputdropdown" value="{!vfhFormRecord.Postal_State__c}" id="postalStateFrm1">
                            <apex:selectOptions value="{!PostalStateEntries}"/>
                        </apex:selectList>
                    </td>
                </tr>
                <tr>
                    <td>
                        <apex:outputText styleClass="form-label" value="Post Code" />
                    <!--</td>
                    <td style="width:16%">-->
                        <apex:inputField value="{!vfhFormRecord.Postal_Postcode__c}" id="postalPpostCodeFrm1" onkeypress="return isNumberKey(event)" onBlur="validateNumber('vfhEnrolfrm1:frm1:postalPpostCodeFrm1', null)"/> 
                    </td>
                </tr>
            </table>
           <br/>
            
            <!--  EMERGENCY DETAILS -->
        
            <table style="width:100%;">
                <tr>
                    <td colspan="4" class="tableHeader">
                        <apex:outputText value="Emergency Contact Details"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <apex:outputText styleClass="form-label" value="Name *" /><div id="UrgentName" class="redmsg" style="display:none;"><strong>ERROR:</strong>This field is required</div>
                    <!--</td>
                    <td style="width:17%">-->
                        <apex:inputField value="{!vfhFormRecord.Emergency_Contact_Name__c}" id="emgNameFrm1"/> 
                    </td>

                </tr>
                <tr>
                    <td>
                        <apex:outputText styleClass="form-label" value="Home Phone (e.g. 0736202700)*" />&nbsp;<apex:outputText value="At least one phone number is mandatory" style="font-size:12px; color:#d8576c;"/>&nbsp;<div id="EmgHomePhone" class="redmsg" style="display:none;" />
                    <!--</td>
                    <td style="width:17%">-->
                        <apex:inputField value="{!vfhFormRecord.Emergency_Contact_Home_Phone__c}" id="emgPhoneFrm1" onkeypress="return isNumberKeyWithCharLimit(event,this,10)" onBlur="validateNumber('vfhEnrolfrm1:frm1:emgPhoneFrm1', null)"/> 
                    </td>
                <tr>
                    <td>
                        <apex:outputText styleClass="form-label" value="Relationship *" /><div id="LoveOne" class="redmsg" style="display:none;"><strong>ERROR:</strong>This field is required</div>
                    <!--</td>
                    <td style="width:17%">-->
                        <apex:inputField value="{!vfhFormRecord.Relationship_to_Emergency_Contact__c}" id="emgRelFrm1"/>  
                    </td>
                </tr>
                <tr>
                    <td>
                        <apex:outputText styleClass="form-label" value="Mobile" />
                    <!--</td>
                    <td style="width:17%">-->
                        <apex:inputField value="{!vfhFormRecord.Emergency_Contact_Mobile_Phone__c}" id="emgMobileFrm1x" onkeypress="return isNumberKeyWithCharLimit(event,this,11)" onBlur="validateNumber('vfhEnrolfrm1:frm1:emgMobileFrm1', null)"/>  
                    </td>
                </tr>
                </tr>
            </table>
            <br/>
            <table style="width:100%;">
                <tr>
                    <td colspan="4" class="tableHeader">
                        <apex:outputText value="Learning Mode Selection"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <apex:outputText styleClass="form-label" value="I wish to apply to study in the following mode* :" /><div class="redmsg" id="DeliveryModeError" style="display:none;"><strong>ERROR:</strong>This field is required</div><br/>
                    <!--</td>
                    <td style="width:17%">-->
                        <apex:selectList size="1" styleClass="inputdropdown" value="{!vfhFormRecord.Delivery_Mode_Type__c}" id="DeliveryModeFrm1">
                            <apex:selectOptions value="{!DeliveryModes}"/>
                        </apex:selectList>
                    </td>

                </tr>
            </table>
            
            
            
            <!--<table style="width:100%;">
                <tr>
                    <td colspan="4" class="tableHeader">
                        <apex:outputText value="Unique Student Identifier (USI)"/>
                    </td>
                </tr>
                <tr>
                    <td class="paddedTable">
                        <apex:outputText styleClass="form-label" value="Do you have a Unique Student Identifier (USI)? *" /><div class="redmsg" id="hasUsiError" style="display:none;"><strong>ERROR:</strong>This field is required</div>You can apply for a USI by clicking here.
                        <apex:selectList size="1" styleClass="inputdropdown" value="{!hasUsi}" id="hasUsiFrm">
                            <apex:selectOptions value="{!YesNoOption}"/>
                        </apex:selectList>
                    </td>
                </tr>
                <tr>
                    <td class="paddedTable">
                        <apex:outputText styleClass="form-label" value="Do you give permission to Careers Australia to apply for a USI on your behalf? *" /><div class="redmsg" id="permUsiError" style="display:none;"><strong>ERROR:</strong>This field is required</div>
                        <apex:selectList size="1" styleClass="inputdropdown" value="{!usiPermission}" id="permUsiFrm">
                            <apex:selectOptions value="{!YesNoOption}"/>
                        </apex:selectList>
                    </td>
                </tr>
                <tr>
                    <td>
                        <apex:outputText styleClass="form-label" value="Your Unique Student Identifier (USI) ?" /><div class="redmsg" id="USIError" style="display:none;"><strong>ERROR:</strong>This field is required</div><div class="redmsg" id="USIErrorL" style="display:none;"><strong>ERROR:</strong>USI must be 10 characters</div><br/>
                        <apex:inputField value="{!vfhFormRecord.USI__c}" id="USINumber" />
                    </td>
                </tr>
            </table>-->
            
            
            
            
            
            
            
            
            
                <br/>
                <br/>
            
            <!-- Save and Next Button -->
            <div class="col-md-8" style="text-align:right; width:100%;">
                <apex:commandButton value="NEXT" style="float:right;" onclick="return validator.validateNext();" action="{!proceedToUSIForm}"/>
                <apex:commandButton value="SAVE" style="float:right;" onclick="return validator.validate();" action="{!saveForm}"/>
            </div>
            
            <!--  Progress Bar -->
            <div class="graystatusline">
                &nbsp;
                <div style="background-color:darkblue; width:12.5%; float: left">
                    &nbsp;
                </div>
            </div>
            <div style="width: 50%; margin: 0 auto; text-align:center;">
                <apex:outputText value="Page 1 of 8"/>
            </div>
            
        </apex:form>
        </div>
        </apex:outputPanel>
    </div>
    </body>
    <script type = "text/javaScript">
    
    
        
        function numbersOnly(evt, elem, elem2){
        var e = window.event || evt;       
        var charCode = e.which || e.keyCode;   
        var input;
        var len;
        
        
        if (charCode == 8 || charCode == 9){
            return true;
        }
        if (elem != null && elem != ''){
        
            //var element = document.getElementById(elem);
            input = document.getElementById(elem).value;
            len = input.length;
            var tempValue = input;
         
            
            /*var startpos = element.selectionStart;
            var endpos = element.selectionEnd;
            if (startpos != endpos && (charCode > 47 && charCode < 58)){
                return true;
            }*/
            if (len>=2){
                return false;
            }
        }
        if (elem2 != null && elem2 != ''){
            //var element = document.getElementById(elem2);
            input = document.getElementById(elem2).value;
            len = input.length;
            /*var startpos = element.selectionStart;
            var endpos = element.selectionEnd;
            
            if (startpos != endpos && (charCode > 47 && charCode < 58)){
                return true;
            }*/
            if (len>=4){
                return false;
            }
        }
            
            if ((charCode > 47 && charCode < 58)){              
                return true;          
            }       
        return false;
        
        }
        
        function stripLetters(evt, elem){
            
        }
            
        /*function validateInput3(elem){
            var element = document.getElementById(elem);
            if (element.value > 2999){
                element.value = 2999;
            }
           
            
        }  
        function validateInput2(elem){
            var element = document.getElementById(elem);
            if (element.value > 12){
                element.value = 12;
            }      
              
            if (element.value.length >= 2){
                document.getElementById('vfhEnrolfrm1:frm1:yearOfBirthFrm1').focus();
            }  
        }   
        function validateInput(elem){
            var element = document.getElementById(elem);
            if (element.value > 31){
                element.value = 31;
            }
            if (element.value.length >= 2){
                document.getElementById('vfhEnrolfrm1:frm1:monthOfBirthFrm1').focus();
            }     
        }*/
        
    </script>
    <script type="text/javascript">
        var validator = (function() {
            var error = false;
            var errorDesc = [];
            
            function addErrorMessageNextTo($selector, msg){
                $selector.append("<div class='errorMsg'><strong>ERROR: </strong>"+ msg +"</div>");
            }
            
            function addError(fieldErrorMsg, errorPosition, topPageMsg){
                error = true;
                if(fieldErrorMsg !== null && errorPosition !== null){
                    addErrorMessageNextTo(errorPosition, fieldErrorMsg);
                }
                
                //if(topPageMsg !== null){
                 //   errorDesc.push(topPageMsg);
                //}
            }
            
            function validateBirthDate(){
                var day = $("input[id$='dayOfBirthFrm1']").val();
                var month = $("input[id$='monthOfBirthFrm1']").val();
                var year = $("input[id$='yearOfBirthFrm1']").val();
                
                var day_pattern = /\d{1,2}/;
                var month_pattern = /\d{1,2}/;
                var year_pattern = /\d{4}/;
                
                if(day === '' && month === '' && year === ''){
                    //addError("Date of Birth is required", $("input[id$='yearOfBirthFrm1']").parent().parent(), "Date of Birth");
                    error = true;
                    document.getElementById("Born").style.display="inline";
                    document.getElementById("BornValidity").style.display="none";
                    document.getElementById("AgeValidity").style.display="none";
                    $("#Born").parent().addClass("error");
                }else if(!day_pattern.test(day) || !month_pattern.test(month) || !year_pattern.test(year)){
                    //addError("Invalid Date", $("input[id$='yearOfBirthFrm1']").parent().parent(), "Date of Birth");
                    error = true;
                    document.getElementById("BornValidity").style.display="inline";
                    document.getElementById("Born").style.display="none";
                    document.getElementById("AgeValidity").style.display="none";
                    $("#Born").parent().addClass("error");
                }else{
                    document.getElementById("BornValidity").style.display="none";
                    document.getElementById("Born").style.display="none";
                    document.getElementById("AgeValidity").style.display="none";
                    $("#Born").parent().removeClass("error");
                    try {
                        var birthDate = new Date(month + "/" + day + "/" + year);
                        var today = new Date();
                        
                        var age = today.getFullYear() - birthDate.getFullYear();
                        var m = today.getMonth() - birthDate.getMonth();
                        if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
                            age--;
                        }
                        
                        if(age < 14){
                            //addError(null, null, "Only students with age 14 and above are allowed to enroll");
                            document.getElementById("AgeValidity").style.display="inline";
                            error = true;
                        }
                    }catch(err){
                        //addError("Invalid Date", $("input[id$='yearOfBirthFrm1']").parent().parent(), "Date of Birth");
                        error = true;
                        document.getElementById("BornValidity").style.display="none";
                    }
                }
            }
            
            function validateApprovedVisa(){
                if(!$("input[id$='informationIsFactualFrm1']").is(":checked")){
                    // addError(null, null, "Australian Citizen checkbox should be marked");
                    error = true;
                    $("input[id$='informationIsFactualFrm1']").addClass("has-error");
                    $("#pageErrorMessage").html("You must be an Australian Citizen / must have a VFH Approved Visa");
                } else {
                    $("input[id$='informationIsFactualFrm1']").removeClass("has-error");
                }
            }
            
            function validateFirstName(){
                if($("input[id$='firstNameFrm1']").val() === ""){
                    //addError("This field is required", $("input[id$='firstNameFrm1']").parent().parent(), "First Name");
                    error = true;
                    document.getElementById("Pname").style.display="inline";
                    $("#Pname").parent().addClass("error");
                    //$('html, body').animate({scrollTop: $("#Pname").offset().top}, 2000);
                }else {
                    document.getElementById("Pname").style.display="none";
                    $("#Pname").parent().removeClass("error");
                }
                    
            }
            
            function validateGender(){
                if(!$("input[id$='genderFrm1:1']").is(":checked") == !$("input[id$='genderFrm1:0']").is(":checked")){
                    //addError("This field is required", $("input[id$='genderFrm1:1']").parent().parent().parent().parent().parent().parent(), "Gender is required");
                    error = true;
                    document.getElementById("Sexes").style.display="inline";
                    $("input[id$='genderFrm1:1']").parent().addClass('error');
                    $("input[id$='genderFrm1:0']").parent().addClass('error');
                }else {
                    document.getElementById("Sexes").style.display="none";
                    $("input[id$='genderFrm1:1']").parent().removeClass('error');
                    $("input[id$='genderFrm1:0']").parent().removeClass('error');
                }
            }
            
            function validateLastName(){
                if($("input[id$='surNameFrm1']").val() === ""){
                    //addError("This field is required", $("input[id$='surNameFrm1']").parent().parent(), "Last Name");
                    error = true;
                    document.getElementById("Sname").style.display="inline";
                    $("#Sname").parent().addClass("error");
                }else {
                    document.getElementById("Sname").style.display="none";
                    $("#Sname").parent().removeClass("error");
                }
            }
            
            function validateEmail(){
                if($("input[id$='postalEmailFrm1']").val() === ""){
                    //addError("This field is required", $("input[id$='postalEmailFrm1']").parent(), "Email");
                    error = true;
                    document.getElementById("eAddress").style.display="inline";
                    $("#eAddress").parent().addClass("error");
                }else {
                    document.getElementById("eAddress").style.display="none";
                    $("#eAddress").parent().removeClass("error");
                }

            }
            
            function validatePhone(){
                if($("input[id$='postalPhoneFrm1']").val() === "" && $("input[id$='postalMobileFrm1']").val() === ""){
                    //addError(null, null, "Either home phone or mobile should be filled out");
                    error = true;
                    document.getElementById("HomePhone").style.display="inline";
                    $("#HomePhone").parent().addClass("error");
                }else{
                    document.getElementById("HomePhone").style.display="none";
                    $("#HomePhone").parent().removeClass("error");
                }
            }
            
           function validateUSILength(){
                if($("input[id$='USINumber']").val().length != 10 && $("input[id$='USINumber']").val() != "" ){
                    error = true;
                    document.getElementById("USIErrorL").style.display="inline";
                    $("#USIErrorL").parent().addClass("error");
                }else{
                    document.getElementById("USIErrorL").style.display="none";
                    $("#USIErrorL").parent().removeClass("error");
                }
            }
            
            function validateHomePhone(){
                var phone_pattern = /\d{10}/;
                var phone = $("input[id$='postalPhoneFrm1']").val();
                if( phone !== "" && !phone_pattern.test(phone)){
                    //addError("Invalid Phone Number", $("input[id$='postalPhoneFrm1']").parent(), "Home Phone");
                    error = true;
                    document.getElementById("HomePhone").style.display="inline";
                    $("#HomePhone").parent().addClass("error");
                }else{
                    document.getElementById("HomePhone").style.display="none";
                    $("#HomePhone").parent().removeClass("error");
                }
            } 

            function validateResidential(){
                if($("input[id$='StreetNumber1']").val() === ""){
                    //addError("This field is requiredxxx", $("input[id$='StreetNumber1']").parent(), "Street Number");
                    error = true;
                    document.getElementById("StreetNumber").style.display="inline";
                    $("#StreetNumber").parent().addClass("error");
                }else {
                    document.getElementById("StreetNumber").style.display="none";
                    $("#StreetNumber").parent().removeClass("error");
                }
                
                if($("input[id$='StreetName1']").val() === ""){
                    //addError("This field is required", $("input[id$='StreetName1']").parent(), "Street Name");
                    error = true;
                    document.getElementById("RoadName").style.display="inline";
                    $("#RoadName").parent().addClass("error");
                }else {
                    document.getElementById("RoadName").style.display="none";
                    $("#RoadName").parent().removeClass("error");
                }
                
                if($("select[id$='stateFrm1']").val() === "-------- Select a State --------"){
                    //addError("This field is required", $("input[id$='stateFrm1']").parent(), "State");
                    error = true;
                    document.getElementById("State").style.display="inline";
                    $("#State").parent().addClass("error");
                }else {
                    document.getElementById("State").style.display="none";
                    $("#State").parent().removeClass("error");
                }
                
                if($("select[id$='DeliveryModeFrm1']").val() === "PleaseSelect"){
                    //addError("This field is required", $("input[id$='DeliveryModeFrm1']").parent(), "DeliveryModeError");
                    error = true;
                    document.getElementById("DeliveryModeError").style.display="inline";
                    $("#DeliveryModeError").parent().addClass("error");
                }else {
                    document.getElementById("DeliveryModeError").style.display="none";
                    $("#DeliveryModeError").parent().removeClass("error");
                }
                
                
                 if($("select[id$='titleFrm1']").val() === "PleaseSelect"){
                    //addError("This field is required", $("input[id$='titleFrm1']").parent(), "DeliveryModeError");
                    error = true;
                    document.getElementById("DeliveryModeError").style.display="inline";
                    $("#titleError").parent().addClass("error");
                }else {
                    document.getElementById("DeliveryModeError").style.display="none";
                    $("#titleError").parent().removeClass("error");
                }

                
                if($("input[id$='frm1:postCodeFrm1']").val() === ""){
                    //addError("This field is required", $("input[id$='frm1:postCodeFrm1']").parent(), "Postal Code");
                    error = true;
                    document.getElementById("ZipNumber").style.display="inline";
                    $("#ZipNumber").parent().addClass("error");
                }else {
                    document.getElementById("ZipNumber").style.display="none";
                    $("#ZipNumber").parent().removeClass("error");
                }
                
                if($("input[id$='townFrm1']").val() === ""){
                    //addError("This field is required", $("input[id$='townFrm1']").parent(), "Town/Suburb");
                    error = true;
                    document.getElementById("Uptown").style.display="inline";
                    $("#Uptown").parent().addClass("error");
                }else {
                    document.getElementById("Uptown").style.display="none";
                    $("#Uptown").parent().removeClass("error");
                }
            }
            function validateContact(){
                if($("input[id$='emgNameFrm1']").val() === ""){
                    //addError("This field is required", $("input[id$='emgNameFrm1']").parent(), "Emergency contact name");
                    error = true;
                    document.getElementById("UrgentName").style.display="inline";
                    $("#UrgentName").parent().addClass("error");
                }else {
                    document.getElementById("UrgentName").style.display="none";
                    $("#UrgentName").parent().removeClass("error");
                }
                
                if($("input[id$='emgRelFrm1']").val() === ""){
                    //addError("This field is required", $("input[id$='emgRelFrm1']").parent(), "Emergency relationship");
                    error = true;
                    document.getElementById("LoveOne").style.display="inline";
                    $("#LoveOne").parent().addClass("error");
                }else {
                    document.getElementById("LoveOne").style.display="none";
                    $("#LoveOne").parent().removeClass("error");
                }
                
                if($("input[id$='emgPhoneFrm1']").val() === "" && $("input[id$='emgMobileFrm1']").val() === ""){
                    //addError(null, null, "Either emergency home phone or mobile should be filled out");
                    error = true;
                    $("#EmgHomePhone").parent().addClass("error");
                }
                else{
                    $("#EmgHomePhone").parent().removeClass("error");
                }
                
                var phone_pattern = /\d{10}/;
                var phone = $("input[id$='emgPhoneFrm1']").val();
                if( phone!== "" && !phone_pattern.test(phone)){
                    //addError("Invalid Phone Number", $("input[id$='emgPhoneFrm1']").parent(), "Emergency Phone Number");
                    error = true;
                    $("#EmgHomePhone").parent().addClass("error");
                }else{
                    $("#EmgHomePhone").parent().removeClass("error");
                }
            }
        
        
            function reset(){
                error = false;
                errorDesc = [];
                $("div.errorMsg").remove();
                $("#pageError").hide();
            }
            
            return {
                validate: function(){
                    reset();
                    validateBirthDate();
                    validateApprovedVisa();
                    validateFirstName();
                    validateLastName();
                    validateGender();
                    validateEmail();
                    validatePhone();
                    validateHomePhone();
                    validateResidential();
                    validateContact();
                  
                    
                    if ($("input[id$='informationIsFactualFrm1']").hasClass("has-error")) {
                        $("#pageError").show(); 
                    }   
                    window.scrollTo(0,0);
                    return !error;
                },
                
                validateNext: function(){
                    reset();
                    validateBirthDate();
                    validateApprovedVisa();
                    validateFirstName();
                    validateLastName();
                    validateGender();
                    validateEmail();
                    validatePhone();
                    validateHomePhone();
                    validateResidential();
                    validateContact();
                    
                    if(error){
                        $("div.message").hide();
                        if ($("input[id$='informationIsFactualFrm1']").hasClass("has-error")) {
                            $("#pageError").show(); 
                        }
                        //$("#pageErrorMessage").html("Please correct the following: " + validator.getFieldsWithError().join(", ") +".");
                        window.scrollTo(0,0);
                        //e.preventDefault();
                    }
                    return !error;
                },
                
                getFieldsWithError: function(){
                    return errorDesc;
                },
                limitText: function(selector, limit){
                    $(selector).attr("maxlength", limit);
                }
            }
        })();
        
        /*
        $("input[value='NEXT']").click(function(e){
            alert(!validator.validate());
            if(!validator.validate()){
                $("div.message").hide();
                if ($("input[id$='informationIsFactualFrm1']").hasClass("has-error")) {
                    $("#pageError").show();    
                }
                //$("#pageErrorMessage").html("Please correct the following: " + validator.getFieldsWithError().join(", ") +".");
                window.scrollTo(0,0);
                e.preventDefault();
            }
            
        });
        */
        
        $("input.postalAddressType").click(function(e){
           if ( $(this).val() == 'Physical' && $(this).is(':checked') ){
               $('.postalBoxNumber').hide();
               $('.postalPhysical').show();
               $(document.getElementById('{!$Component.frm1.postalStreetAddrFrm1}')).val('');
               //$(document.getElementById('{!$Component.frm1.postalStreetAddrFrm2}')).focus();
           }else if ( $(this).val() == 'POBox' && $(this).is(':checked') ){
               $('.postalPhysical').hide();
               $('.postalBoxNumber').show();
               $(document.getElementById('{!$Component.frm1.postalStreetAddrFrm2}')).val('');
               $(document.getElementById('{!$Component.frm1.postalStreetAddrFrm3}')).val('');
               $(document.getElementById('{!$Component.frm1.postalStreetAddrFrm4}')).val('');
               $(document.getElementById('{!$Component.frm1.postalStreetAddrFrm5}')).val('');
               //$(document.getElementById('{!$Component.frm1.postalStreetAddrFrm1}')).focus();
           }
           
        });
        
        validator.limitText($("input[id$='postalPhoneFrm1']"), 11);
        validator.limitText($("input[id$='postalMobileFrm1']"), 11);
        validator.limitText($("input[id$='emgPhoneFrm1']"), 11);
        validator.limitText($("input[id$='emgMobileFrm1x']"), 11);
    </script>

   <!-- <script type="text/javascript">
    $(input[type="checkbox"], input[type="radio"]).on("click", function(){$(this).css("border", "0");});
    </script>-->

    <script type="text/javascript">
        /*
        $('input[type="checkbox"], input[type="radio"]').on("click", 
            function(){
                $(this).blur();
            }
        );
        */
        $('input[type="checkbox"]').on("click", function(){
            $(this).addClass("clicked");
        });
        $('input[type="checkbox"]').blur(function(){
            $(this).removeClass("clicked");
        })
    </script>
    
    <script>
        //bvk: is in header!: $(document).ready(function() { 
       //     $("select").selecter(); 
        //});
    </script>
    


</apex:page>